@model int
<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center"> Order Placed Successfully</h1>
		Your own order number is : @Model <br /> <br />
		<img src="~/Images/product/0f61f6ca-df80-4b6f-aaf6-665af9f07d75.png" width="50%" />
	</div>

	<div class="col-12 text-center" style="color : maroon">
      <br />
	  Your order has been palced successfully
	</div>

</div>