@model Category

<div class="card">
    <div class="card-header">
        <div class="p-2 mb-1">
            <div class="row pb-1">
                <h2 class="text-primary">Edit Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">

            <form asp-action="Edit" asp-route-id="@Model.Id" class="form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div>
                    <label asp-for="Name" class="control-label mb-1"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="DisplayOrder" class="control-label mb-1"></label>
                    <input asp-for="DisplayOrder" class="form-control" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-6 pt-2">
                        <input type="submit" value="Edit" class="btn btn-primary mt-2" />
                    </div>

                    <div class="text-end col-6 mt-2">
                        <a asp-controller="Category" asp-action="Index"> Back To List </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
